<p>
typeahead works!
</p>

<br>
<div>
  <div class="dropdown{{classMostrar}}">
    <input #input type="text" class="{{inputClass}}{{classValidation}}" [placeholder]="placeholder" [style]="style" [(ngModel)]="selectedText" aria-haspopup="true" [attr.aria-expanded]="isOpen" autocomplete="off" (focusin)="onFocusIn()" (focusout)="onFocusOut()"
    (keydown)="onKeyDownInput($event)" keydown="preventDefault()"
    >
    <div class="dropdown-menu dropdown-menu-right scrollable-menu{{classMostrar}}" style="width: 100%; max-height: 30vh; overflow-y: auto;" (mouseover)="onMouseOverDropmenu()" (mouseout)="onMouseOutDropmenu()">
      
        <div  *ngFor="let item of items; let idx = index"  
        (click)="trySelectClick(item)"
        class="dropdown-item typeahead-item{{(active_id == idx)?' typeahead-item-selected':''}}">
       <!-- <span *ngIf="!itemTemplate">{{item.item.name}}</span>  -->
      <ng-container *ngTemplateOutlet="itemTemplate; context: {$implicit: item, index: idx}"></ng-container>
    </div>
      
    </div>
  </div>
</div>
<br>
