<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<input placeholder="input for focus test">

<app-typeahead valueField="name" [getHintItems]="getHintObj" (onSelectionMade)="onSelectionMade($event)" (onRemoveSelectedItem)="onRemoveSelectedItem()" inputClass="form-control" forceSelection="true">
  <ng-template let-value >
    <span style="font-size:18px">{{value.name}}</span>
  </ng-template>
</app-typeahead>
<br>
{{item | json}} 
<br>
<input placeholder="input for focus test">
